<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Articles</title>
</head>
<body>
    <h1>Post</h1>
    <!-- for loop to get all the posts -->    
    <!-- object_list is the query set from ListView -->
    <ul>
    {% for post in object_list %}
        <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }} {{ post.author.last_name }} <br>
        {{ post.body }}</li>
    {% endfor %}
    </ul>
</body>
</html>